---
---
@import 'colours';
@import 'variables';
@import 'fonts';

@import 'bootstrap';

@import 'components';

@import 'footer';
@import 'nav';
//@import 'github-corner';

@import 'clock';
@import 'gradients';

.shadow {
  -webkit-filter: drop-shadow($shadow-offset $shadow-offset $shadow-size $shadow-colour);
  filter: drop-shadow($shadow-offset $shadow-offset $shadow-size $shadow-colour);
}

h1, h2 {
  color: $brand-complement;
  font-family: $font-primary;
}

h2 {
  color: $brand-primary;
}

h1 {
  text-align: center;
}
