---
---
@import 'colours';
@import 'variables';
@import 'fonts';

@import 'bootstrap';

@import 'components';

@import 'footer';
@import 'nav';
//@import 'github-corner';

@import 'clock';
@import 'gradients';

.shadow {
  -webkit-filter: drop-shadow($shadow-offset $shadow-offset $shadow-size $shadow-colour);
  filter: drop-shadow($shadow-offset $shadow-offset $shadow-size $shadow-colour);
}

h1, h2 {
  color: $brand-complement;
  font-family: $font-primary;
}

h2 {
  color: $brand-primary;
}

h1 {
  text-align: center;
}

.board {
  padding: $padding-large-vertical;
  border: $padding-large-vertical solid $brand-secondary-1;
  text-align: center;
}

.throw {
  fill: $brand-complement;
  stroke: darken($brand-complement, 10%);
  stroke-width: 0.1;
}

.hit {
  fill: $brand-primary;
  stroke: darken($brand-primary, 10%);
  stroke-width: 0.1;
}

.figure {
  text-align: right;
}
