@import 'palettes/default';

$brand-primary: $rgba-primary-0;
$brand-complement: $rgba-complement-0;
$brand-secondary-1: $rgba-secondary-1-0;
$brand-secondary-2: $rgba-secondary-2-0;

$grey: rgb(127, 127, 127);
$light-grey: lighten($grey, 25%);
$dark-grey: darken($grey, 25%);

$primaries: $color-primary-1
            $color-primary-2
            $color-primary-0
            $color-primary-3
            $color-primary-4;

$secondaries-1: $color-secondary-1-1
                $color-secondary-1-2
                $color-secondary-1-0
                $color-secondary-1-3
                $color-secondary-1-4;

$secondaries-2: $color-secondary-2-1
                $color-secondary-2-2
                $color-secondary-2-0
                $color-secondary-2-3
                $color-secondary-2-4;

$complements: $color-complement-1
              $color-complement-2
              $color-complement-0
              $color-complement-3
              $color-complement-4;
