.logo {
  @extend .shadow;

  padding: $padding-large-vertical;

  .pixel {
    fill: $brand-primary;
    stroke: darken($brand-primary, 10%);
    stroke-width: 0.1;
  }

  .alt-pixel {
    fill: $brand-complement;
    stroke: darken($brand-complement, 10%);
    stroke-width: 0.1;
  }

  @each $colour in $primaries {
    $i: index($primaries, $colour) - 1;
    .primary-shade-#{$i} {
      fill: $colour;
      stroke: darken($colour, 10%);
      stroke-width: 0.1;
    }
  }

  @each $colour in $secondaries-1 {
    $i: index($secondaries-1, $colour) - 1;
    .secondary-1-shade-#{$i} {
      fill: $colour;
      stroke: darken($colour, 10%);
      stroke-width: 0.1;
    }
  }

  @each $colour in $secondaries-2 {
    $i: index($secondaries-2, $colour) - 1;
    .secondary-2-shade-#{$i} {
      fill: $colour;
      stroke: darken($colour, 10%);
      stroke-width: 0.1;
    }
  }

  @each $colour in $complements {
    $i: index($complements, $colour) - 1;
    .complement-shade-#{$i} {
      fill: $colour;
      stroke: darken($colour, 10%);
      stroke-width: 0.1;
    }
  }
}
